html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #F7F7F7;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #fff;
    height: 64px;
    display: flex;
    margin: 0;
    padding-left: 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #e8e8e8;

    &_logo {
        width: 20%;
        border-right: 1px solid #e8e8e8;
        display: flex;
        margin: 0 10px;
        align-items: center;
        justify-content: center;
        font-size: clamp(12px,2vw,20px);
        font-weight: 600;
        transition: all 0.3s ease;

        &-active {
            width: 80px;
            margin: 0;
        }
    }

    &_nav {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        &-left {
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
        }

        &-right span {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-right: 20px;
        }

        &-right {
            display: flex;
        }
    }
}

.main {
    display: flex;
    flex: 1;
}

.sider {
    width: 20%;
    min-width: 200px;
    max-width: 240px;
    background-color: #fff;
    height:calc(100vh - 60px);
    position: sticky;
    top: 64px;
    left:0;
    border-right: 1px solid #e8e8e8;

}

.content {
    flex: 1;
    height: calc(100vh - 64px); // trừ header và footer
    min-height:100%;
    overflow-y: auto;
    background-color: #F7F7F7;
}

@media( max-width:360px) {
    .header {
        padding: 0;

        &_logo {
            display: block;
            margin:0;
            width:18%;
        }

        &_nav {
            padding: 0;

            &-right span {
                gap: 5px;
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }
    .sider {
        width: 18% !important;
        max-width: 18% !important;
        min-width: 18% !important;
    }
    
}    